<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <body>
    <header th:fragment="header" class="header">
      <div>
        <div class="logo">Grab A Cycle</div>
        <div class="search-form">
          <form
            th:action="@{/search/page/1?sortField=id&sortDir=asc}"
            method="POST"
          >
            <input
              type="text"
              name="keyword"
              id="keyword"
              th:value="${keyword}"
              required
            />
            <input type="submit" value="Search" />
          </form>
        </div>

        <div class="logout-btn" sec:authorize="isAuthenticated()">
          <a th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </header>
  </body>
</html>
