<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <body>
    <header th:fragment="header" class="header">
      <div class="logo"><a th:href="@{/}">Grab A Cycle</a></div>
      <div class="search-form">
        <form
          th:action="@{/search/page/1?sortField=id&sortDir=asc}"
          method="POST"
          id="search-form"
        >
          <input
            type="text"
            name="keyword"
            id="keyword"
            th:value="${keyword}"
            required
            placeholder="Search"
          />

          <button type="submit" value="Search">
            <span class="material-symbols-outlined"> search </span>
          </button>
        </form>
      </div>

      <div class="logout-btn" sec:authorize="isAuthenticated()">
        <span class="material-symbols-outlined"> logout </span>
        <a th:href="@{/logout}">Logout</a>
      </div>
    </header>
  </body>
</html>
