@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --theme-color: #0a6de6;
  --theme-color-dark: #2056c3;
  --light-grey-color: #e7eaec;
  --dark-grey-color: #8a99a3;
  --light-red-color: #ffe1e2;
  --dark-red-color: #c94a51;
  --light-blue-color: #d3e1fd;
}

.header {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid var(--light-grey-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}

.logo a {
  font-family: Outfit, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: black;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  transition: color 0.1s ease-out;
}

.logo a:hover {
  color: var(--theme-color);
  cursor: pointer;
}

.logout-btn {
  padding: 8px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-out;
}

.logout-btn:hover {
  background-color: var(--light-grey-color);
  cursor: pointer;
}

.logout-btn a {
  text-decoration: none;
  font-family: Outfit, sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 500;
  margin-left: 5px;
}

.search-form form {
  display: flex;
}

.search-form form input {
  height: 36px;
  border: none;
  background-color: var(--light-grey-color);
  border-radius: 3px 0px 0px 3px;
  padding: 0px 12px;
  font-size: 15px;
  font-family: "Outfit";
}

.search-form form input:focus {
  outline: none;
  background-color: white;
  border-top: 2px solid var(--light-grey-color);
  border-left: 2px solid var(--light-grey-color);
  border-bottom: 2px solid var(--light-grey-color);
}

.search-form form input::placeholder {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: black;
}

.search-form form button {
  border: none;
  width: 36px;
  border-radius: 0px 3px 3px 0px;
  background-color: var(--light-grey-color);
  padding-right: 6px;
}

.search-form form button:hover {
  cursor: pointer;
}
