@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --theme-color: #0a6de6;
  --theme-color-dark: #2056c3;
  --light-grey-color: #e7eaec;
  --dark-grey-color: #8a99a3;
  --light-red-color: #ffe1e2;
  --dark-red-color: #c94a51;
  --light-blue-color: #d3e1fd;
  --extra-light-blue-color: #f4f8ff;
  --extra-light-grey-color: #f8f8f8;
  --extra-dark-grey-color: #5e707a;
  --extra-dark-green-color: #00855d;
  --light-green-color: #99eed8;
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.cycles-list {
  display: flex;
  flex-direction: column;
}

.cycles-list-table {
  font-family: Outfit, sans-serif;
  font-size: 16px;

  border-collapse: collapse;
  border: 1px solid var(--light-grey-color);
  border-top: none;
}

.cycles-list-table thead {
  background-color: var(--light-grey-color);
}

.cycles-list-table tr {
  border-bottom: 1px solid var(--light-grey-color);
}

.cycles-list-table thead tr:first-child {
  border: none;
  margin: 2px solid var(--light-grey-color);
}

.cycles-list-table td {
  padding: 12px 32px;
  text-align: center;
}

.cycles-list-table a {
  text-decoration: none;
  color: black;
}

.cycles-list-table a div {
  width: 100%;

  padding: 12px 32px;
  border-bottom: 2px solid transparent;
}

.cycles-list-table a div:hover {
  background-color: var(--extra-light-grey-color);
  border-bottom: 2px solid var(--dark-grey-color);
}

.cycles-list-table .booked {
  user-select: none;
  color: var(--extra-dark-grey-color);
  background-color: var(--light-grey-color);
  border-radius: 30px;

  padding: 3px 12px;
  font-size: 14px;
  font-weight: 500;
}

.cycles-list-table .available {
  user-select: none;
  color: var(--extra-dark-green-color);
  background-color: var(--light-green-color);
  border-radius: 30px;

  padding: 3px 11px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.cycles-list-table .unbook {
  user-select: none;
  color: var(--theme-color);
  background-color: var(--light-blue-color);
  border-radius: 30px;

  padding: 3px 11px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.delete-cycle-btn {
  background-color: transparent;
  border: none;
  margin-left: 6px;
}

.delete-cycle-btn span:hover {
  color: #ff6970;
  cursor: pointer;
}

.edit-cycle-btn:hover {
  color: var(--theme-color);
}

.cycles-list-header {
  display: flex;

  justify-content: space-between;
  padding: 32px 0px 12px 0px;
}

.cycles-list-header .welcome-user {
  font-size: 24px;
  font-weight: 700;
}

.cycles-list-header .add-cycle-btn {
  background: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.1s ease-out;
}
.cycles-list-header .add-cycle-btn:hover {
  background: var(--theme-color-dark);
}

.cycles-list-header .add-cycle-btn a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.pagination {
  display: flex;
  align-items: center;
}

.page-btns {
  display: flex;
}

.active-btn {
  text-decoration: none;
  background-color: var(--theme-color);
  padding: 8px 12px;
  font-size: 15px;
  display: inline-block;
  margin: 0px 8px;
  color: white;
  border-radius: 3px;
}

.inactive-btn {
  background-color: var(--light-grey-color);
  padding: 8px 12px;
  font-size: 15px;
  display: inline-block;
  margin: 0px 8px;
  border-radius: 3px;
}

.page-num {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.page-num:hover {
  background-color: var(--light-grey-color);
}

.page-num a {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 500;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  user-select: none;
}

.page-num div {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme-color);
  font-weight: 500;
  background-color: var(--light-grey-color);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.total-cycles {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey-color);
  font-size: 15px;
  margin-top: 24px;
}

.total-cycles #total-items-data {
  color: black;
  font-weight: 700;
  font-size: 17px;
}

.hide {
  display: none;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  width: 350px;

  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-content .message {
  font-size: 17px;
  font-weight: 700;
}

.modal-btns {
  margin-top: 24px;
  display: flex;

  justify-content: flex-end;
}

.modal-btns button {
  font-weight: 500;
}

.modal-btns button:hover {
  cursor: pointer;
}

.modal-btns #confirm-booking-btn {
  background-color: var(--theme-color);
  color: white;
  border: none;

  padding: 8px 12px;
  border-radius: 3px;
  margin-right: 22px;
}

.modal-btns #close-modal-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 12px;
}
