<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>Registration-GrabACycle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  </head>
  <body>
    <main>
      <div class="content">
        <div class="content-wrapper">
          <div class="image-container">
            <img th:src="@{/images/welcome-img.png}" alt="Image" />
          </div>

          <div class="registration-form-container">
            <div class="form-container">
              <form
                id="registration-form"
                th:action="@{/registration}"
                method="POST"
                th:object="${user}"
                class="login-registration-form"
                onsubmit="return handleRegistrationFormSubmit()"
              >
                <input
                  id="firstName"
                  th:field="*{firstName}"
                  required
                  autofocus="autofocus"
                  type="text"
                  placeholder="First Name"
                />

                <input
                  id="lastName"
                  th:field="*{lastName}"
                  required
                  type="text"
                  placeholder="Last Name"
                />

                <input
                  id="email"
                  th:field="*{email}"
                  required
                  type="text"
                  placeholder="Email"
                />

                <input id="dob" type="date" th:field="*{dob}" required />

                <input
                  type="password"
                  id="password"
                  th:field="*{password}"
                  required
                  placeholder="Password"
                />

                <input
                  type="password"
                  id="confirm-password"
                  required
                  placeholder="Confirm Password"
                />

                <!-- Success message -->
                <div
                  th:if="${param.success}"
                  class="successfully-registered-message"
                >
                  <div>You've Successfully Registered</div>
                </div>

                <div
                  th:if="${param.failure}"
                  class="registration-failure-message"
                >
                  <div>Email Already Exists</div>
                </div>

                <button type="submit">Register</button>
              </form>
            </div>
            <div class="login-container">
              <span
                >Already Registered?
                <a href="/" th:href="@{/login}">Login</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
